.gherkinContent {
    display: flex;
}

.gherkinContent .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#helpGherkin {
    margin-bottom: 10px;
    font-style: italic;
}

#gherkinTextArea {
    width: 300px;
    height: 80px;
}

.gherkinSelector .gherkinSelect {
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.content .gherkinSelector {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: 300px;
}

.gherkinSelector #gherkinButtonAdd {
    margin-top: 10px;
    margin-bottom: 10px;
}

#exampleContent {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#gherkinResultQuestion {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

#gherkinResultQuestion ul {
    padding-left: 20px;
    margin-bottom: 10px;
}

#gherkinResultQuestion li {
    margin-bottom: 15px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.gherkin-content {
    margin-left: 55px
}

.gherkin {
    padding: 5px;
    margin-bottom: 15px;
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-between;
}

.gherkin:hover {
    background: #fff8dc
}

.add-gherkin-button {
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.gherkinLineCreatorDelete {
    margin-left: 20px;
    float: right;
    cursor: pointer;
}

.gherkinsActions {
    display: flex;
}

.gherkins-actions-bar {
    display: flex;
}

.showAllGherkins {
    font-size: 100%;
    padding-bottom: 10px;
    color: var(--color-primary);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-spacing: 0.2em;
}

.allGherkinActions {
    background-color: #9090904d;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
}

#copyButtonAllGherkins {
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 20px;
}

#copyGherkinAlert {
    background-color: rgb(140, 230, 140);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: none;
}

.accordion-content-gherkin {
    padding: 5px;
}

.exportAllGherkins {
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 10px;
}

#stepFilePythonBehave {
    display: none;
}

#stepFileJavaCucumber-JVM {
    display: none;
}

.selectorStepFile {
    margin-right: 10px;
}

#userStoryTemplate {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#userStoryTemplateCheckbox {
    margin-top: 5px;
    margin-right: 10px;
}

#stepFileJSCucumberJS {
    display: none;
}

#stepFileRubyCucumberRB {
    display: none;
}

.gherkinCreatorTables tbody tr td {
    border: none;
}

.gherkinCreatorTables tbody tr th {
    border: none;
    background-color: transparent;
}

tr:hover .gherkinLineCreatorDelete {
    color: red;
}